flask 
requests 
Pillow 
Flask-Cache

#If the Cheeseshop(secret code name for Python Package Index also known as PyPI) is down, you can also install from one of the mirrors. 
#Crate.io is one of them:
#pip install -i http://simple.crate.io/ Flask
#pip install -i http://simple.crate.io/ requests
#pip install -i http://simple.crate.io/ Pillow 
#pip install -i http://simple.crate.io/ Flask-Cache